h1 {
    color : red
}

h2 {
    color:aqua
}

p {
    color : rgb(55, 89, 239)
}

button {
    color:aqua 
}

button {
    color:crimson
}

body {
    background-color: rgb(238, 211, 211);
}

button {
    background-position: 0cqi;
}